table , th , td{
    border : 2px;
    border-style: double;
    border-color: blue;

}
th{
    background-color : yellow;
    color : green;
    
}
td{
    background-color: lightgray;
    color:red;
}